<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.refrigerator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_picture"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.refrigerator.Activity1"
            android:label="@string/app_name" >
            <intent-filter>
		<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
	</intent-filter>

        </activity>
        <activity android:name=".SplashActivity" android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity 
            android:name=".Activity2"
            android:label="정력"></activity>
        
        <activity 
            android:name=".Activity3"
            android:label="정력"></activity>
        
        <activity 
            android:name=".Activity3_1"
            android:label="정력"></activity>
        
        <activity 
			android:name=".Activity4"
			android:label="정력"></activity>
        <activity 
			android:name=".Activity5"
			android:label="정력"></activity>

        
        <activity android:name=".Note_Write"></activity>
        <activity android:name=".Note_Save"></activity>
        <activity android:name="Notify"></activity>

        <activity android:name="conView"></activity>
        <activity android:name="Password"></activity>
        <service android:name="Note_Service"></service>
        <activity android:name=".question"></activity>
        <activity android:name=".exclamation"></activity>

        <activity android:name=".news_list"></activity>
        <activity android:name=".sns_list"></activity>
        <activity android:name=".news_list_viewer"></activity>
        <activity android:name=".sns_list_viewer"></activity>

        <activity android:name=".memo_list"></activity>
    </application>   

</manifest>
